%mobileapp {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

%header {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 800;
}

// common

%mint-headlines {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 28px;
    font-family: 800;
}

// introduce section

%introducing {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 42px;
    font-weight: 800;
}

%Maecenas {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
}

%introduce-features {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

// key-features section

%key-features_description {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
}

%key-features_h3 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
}

%key-features_text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

// video_section

%watch_the_video {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 28px;
    font-weight: 800;
}

%video_text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

// our-team_section

%team_description {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

%team_name {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

%team_job {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

%feedback_comment {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

// contact_us

%contact {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
}

%contact_h3 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

%contact_text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}