// цвета фона

$bg-green: #1ab798;
$bg-blue: #31d4e7;

// иконки соц-сетей

$icon-blue: #0098cd;
$icon-linkedin: #007ab9;
$icon-twitter: #3ec2f3;
$icon-facebook: #3b5997;

// text-colors 

$text-dark: #282528;
$text-default: #ffffff;
$text-video: #222222;
$text-team: #062033;
$text-feedback-post: #646464;
$text-feedback-name: #062033;
$text-form: #bface2;
$text-form-placeholder: #c1c1c1;